<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Portfolio de Thomas Auer</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

	<canvas id="animated-background"></canvas>

	<div class="content-container">
		<h1>Mes Rapports de Sécurité</h1>
		<p>Bienvenue dans la section où je partage tous mes audits de sécurité réalisés dans le cadre de CTF, YesWeHack, et d'autres plateformes.</p>
		<ul>
			
		</ul>
	</div>

	<script src="{{ url_for('static', filename='particles.js') }}"></script>

</body>
</html>
